# Introduction to Python programming

## Python program files

In [2]:
print(1)

1

* Python code is usually stored in text files with the file ending "`.py`":

        myprogram.py
        
* To run our Python program from the command line we use:

        $ python myprogram.py

* On UNIX systems it is common to define the path to the interpreter on the first line of the program (note that this is a comment line as far as the Python interpreter is concerned):

        #!/usr/bin/env python

  If we do, and if we additionally set the file script to be executable, we can run the program like this:

        $ myprogram.py

* Every line in a Python program file is assumed to be a Python statement, or part thereof.
* Single line comments start with a number symbol. Comment lines are usually ignored by the Python interpreter.

In [3]:
""" Multiline strings can be written
 +    using three "s, and are often used
 +    as comments
 +"""

' Multiline strings can be written\n +    using three "s, and are often used\n +    as comments\n +'

# Outline

### 1. Primitive Datatypes and Operators
### 2. Variables and Collections
### 3. Control Flow and Iterables
### 4. Functions
### 5. Modules

## 1. Primitive Datatypes and Operators

 * Math is what you would expect

In [3]:
 1 + 1   # => 2
 8 - 1   # => 7
 10 * 2  # => 20
 35 / 5  # => 7.0

20

 * Result of integer division truncated down both for positive and negative.

In [5]:
5 // 3

1

In [6]:
 5 // 3       # => 1
 5.0 // 3.0   # => 1.0 # works on floats too
 -5 // 3      # => -2
 -5.0 // 3.0  # => -2.0

-2.0

 * The result of division is always a float

In [7]:
 10.0 / 3  # => 3.3333333333333335

3.3333333333333335

 * Modulo operation

In [8]:
 7 % 3  # => 1

1

 * Exponentiation (x**y, x to the yth power)

In [9]:
 2**4  # => 16

16

 * Enforce precedence with parentheses

In [10]:
 (1 + 3) * 2  # => 8

8

 * Boolean values are primitives (Note: the capitalization)

In [11]:
 True
 False

False

 * Negate with not

In [12]:
 not True   # => False
 not False  # => True

True

 * Note using Bool operators with ints
 * False is 0 and True is 1
 * Don't mix up with bool(ints) and bitwise and/or (&,|)

In [13]:
 0 and 2     # => 0
 -5 or 0     # => -5
 0 == False  # => True
 2 == True   # => False
 1 == True   # => True
 -5 != False != True #=> True

True

 * Equality is ==

In [14]:
 1 == 1  # => True
 2 == 1  # => False

False

 * Inequality is !=

In [15]:
 1 != 1  # => False
 2 != 1  # => True

True

 * More comparisons

In [16]:
 1 < 10  # => True
 1 > 10  # => False
 2 <= 2  # => True
 2 >= 2  # => True

True

 * Comparisons can be chained!

In [17]:
 1 < 2 < 3  # => True
 2 < 3 < 2  # => False

False

 * (is vs. ==) is checks if two variables refer to the same object
    
 * but == checks if the objects pointed to have the same values.

In [18]:
 a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]

In [19]:
 b = a             # Point b at what a is pointing to

In [20]:
 b is a            # => True, a and b refer to the same object±

True

In [21]:
 b == a            # => True, a's and b's objects are equal

True

In [22]:
 b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]

In [23]:
 b is a            # => False, a and b do not refer to the same object

False

In [24]:
 b == a            # => True, a's and b's objects are equal

True

 * Strings are created with " or '

In [25]:
 "This is a string."
 'This is also a string.'

'This is also a string.'

 * Strings can be added

In [26]:
 "Hello " "world!"    # => "Hello world!"

'Hello world!'

 * A string can be treated like a list of characters

In [27]:
 "This is a string"[0]  # => 'T'

'T'

 * You can find the length of a string

In [28]:
 len("This is a string")  # => 16

16

 * .format can be used to format strings, like this:

In [5]:
 "{} can be {}".format("Strings", "interpolated")  # => "Strings can be interpolated"

'Strings can be interpolated'

 * You can repeat the formatting arguments to save some typing.

In [30]:
 "{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")# => "Jack be nimble, Jack be quick, Jack jump over the candle stick"

'Jack be nimble, Jack be quick, Jack jump over the candle stick'

 * You can use keywords if you don't want to count.

In [31]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")  # => "Bob wants to eat lasagna"

'Bob wants to eat lasagna'

* None is an object

In [32]:
None  # => None

* Don't use the equality "==" symbol to compare objects to None
* Use "is" instead. This checks for equality of object identity.

In [33]:
 "etc" is None  # => False
 None is None   # => True

True

## 2. Variables and Collections

* Python has a print function

In [34]:
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you!

I'm Python. Nice to meet you!

* By default the print function also prints out a newline at the end.
* Use the optional argument end to change the end character.

In [35]:
print("Hello, World", end="!")  # => Hello, World!

Hello, World!

* Simple way to get input data from console

In [36]:
# input_string_var = input("Enter some data: ") # Returns the data as a string

In [37]:
print(input_string_var)

NameError: name 'input_string_var' is not defined


* No need to declare variables before assigning to them.
* Convention is to use lower_case_with_underscores

In [ ]:
some_var = 5
some_var  # => 5

* if can be used as an expression
* Equivalent of C's '?:' ternary operator

In [38]:
"yahoo!" if 3 > 2 else 2  # => "yahoo!"

'yahoo!'

## Lists

In [39]:
li = []

* You can start with a prefilled list

In [40]:
other_li = [4, 5, 6]

* Add stuff to the end of a list with append

In [41]:
li.append(1)  
  # li is now [1]

In [42]:
li.append(2)  
  # li is now [1, 2]

In [43]:
li.append(4)
    # li is now [1, 2, 4]

In [44]:
li.append(3) 
   # li is now [1, 2, 4, 3]

* Remove from the end with pop

In [45]:
li.pop()   
     # => 3 and li is now [1, 2, 4]

3

* Let's put it back

In [46]:
li.append(3)    # li is now [1, 2, 4, 3] again.

* Access a list like you would any array

In [47]:
li[0]   # => 1

1

* Look at the last element

In [48]:
li[3]  # => 3

3

* Looking out of bounds is an IndexError

In [49]:
li[4]  # Raises an IndexError

IndexError: list index out of range

* You can look at ranges with slice syntax.(It's a closed/open range for you mathy types.)

In [50]:
li[1:3]   # => [2, 4]

[2, 4]

* Omit the end

In [51]:
li[2:]    # => [4, 3]

[4, 3]

* Omit the beginning

In [52]:
li[:3]    # => [1, 2, 4]

[1, 2, 4]

* Return a reversed copy of the list

In [53]:
li[::-1]  # => [3, 4, 2, 1]

[3, 4, 2, 1]

* Make a one layer deep copy using slices

In [ ]:
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.

* Remove arbitrary elements from a list with "del"

In [ ]:
del li[2]  # li is now [1, 2, 3]

* Remove first occurrence of a value

In [ ]:
li.remove(2)  # li is now [1, 3]

In [ ]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

* Insert an element at a specific index

In [ ]:
li.insert(1, 2)  # li is now [1, 2, 3] again

* Get the index of the first item found matching the argument

In [ ]:
li.index(2)  # => 1
li.index(4)  # Raises a ValueError as 4 is not in the list

* You can add lists
* Note: values for li and for other_li are not modified.

In [ ]:
li + other_li  # => [1, 2, 3, 4, 5, 6]

* Concatenate lists with "extend()"

In [ ]:
li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]

* Check for existence in a list with "in"

In [ ]:
1 in li  # => True

* Examine the length with "len()"

In [ ]:
len(li)  # => 6

## Tuples

* Tuples are like lists but are immutable.

In [ ]:
tup = (1, 2, 3)

In [ ]:
tup[0]   #=>1

In [ ]:
tup[0] = 3  # Raises a TypeError

* You can do most of the list operations on tuples too

In [ ]:
len(tup)         # => 3

In [ ]:
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)

In [ ]:
tup[:2]          # => (1, 2)

In [ ]:
2 in tup         # => True

* You can unpack tuples (or lists) into variables

In [ ]:
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

* You can also do extended unpacking

In [ ]:
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

* Tuples are created by default if you leave out the parentheses

In [ ]:
d, e, f = 4, 5, 6

* Now look how easy it is to swap two values

In [ ]:
e, d = d, e  # d is now 5 and e is now 4

## Dictionaries store mappings

In [ ]:
empty_dict = {}

* Here is a prefilled dictionary

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}

* Note keys for dictionaries have to be immutable types. This is to ensure that the key can be converted 
to a constant hash value for quick look-ups.
* Immutable types include ints, floats, strings, tuples.

In [ ]:
invalid_dict = {[1,2,3]: "123"}  # => Raises a TypeError: unhashable type: 'list'

In [ ]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

* Look up values with []

In [ ]:
filled_dict["one"]  # => 1

* Get all keys as an iterable with "keys()". We need to wrap the call in list()to turn it into a list. We'll talk about those later.  Note - Dictionary key
ordering is not guaranteed. Your results might not match this exactly.

In [ ]:
list(filled_dict.keys())  # => ["three", "two", "one"]

* Get all values as an iterable with "values()". Once again we need to wrap it in list() to get it out of the iterable. Note - Same as above regarding key
ordering.

In [ ]:
list(filled_dict.values())  # => [3, 2, 1]

* Check for existence of keys in a dictionary with "in"

In [ ]:
"one" in filled_dict  # => True
1 in filled_dict      # => False

* Adding to a dictionary

In [ ]:
filled_dict.update({"four":4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}
#filled_dict["four"] = 4        #another way to add to dict

* Remove keys from a dictionary with del

In [ ]:
del filled_dict["one"]  # Removes the key "one" from filled dict

## Sets store

In [ ]:
empty_set = set()

* Initialize a set with a bunch of values. Yeah, it looks a bit like a dict. Sorry.

In [ ]:
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}

* Similar to keys of a dictionary, elements of a set have to be immutable.

In [ ]:
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'

In [ ]:
valid_set = {(1,), 1}

* Can set new variables to a set

In [ ]:
filled_set = some_set

* Add one more item to the set

In [ ]:
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}

* Do set intersection with &

In [ ]:
other_set = {3, 4, 5, 6}

In [ ]:
filled_set & other_set  # => {3, 4, 5}

* Do set union with |

In [ ]:
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

* Do set difference with -

In [ ]:
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

* Check if set on the left is a superset of set on the right

In [ ]:
{1, 2} >= {1, 2, 3} # => False

* Check if set on the left is a subset of set on the right

In [ ]:
{1, 2} <= {1, 2, 3} # => True

* Check for existence in a set with in

In [ ]:
2 in filled_set   # => True

In [ ]:
10 in filled_set  # => False

## 3. Control Flow and Iterables

* Let's just make a variable

In [ ]:
some_var = 5

* Here is an if statement. Indentation is significant in python!

        prints: "some_var is smaller than 10"

In [ ]:
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

* For loops iterate over lists:

         prints: "dog is a mammal"
                 "cat is a mammal"
                 "mouse is a mammal"

In [54]:
for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

* "range(number)" returns an iterable of numbers from zero to the given number

        prints: 0
                1
                2
                3

In [55]:
for i in range(4):
    print(i)

0
1
2
3

* "range(lower, upper)" returns an iterable of numbers from the lower number to the upper number

        prints: 4
                5
                6
                7

In [ ]:
for i in range(4, 8):
    print(i)

* "range(lower, upper, step)" returns an iterable of number from the lower number to the upper number, while incrementingby step. If step is not indicated, the default value is 1.

        prints: 4
                6

In [ ]:
for i in range(4, 8, 2):
    print(i)

* While loops go until a condition is no longer met.

        prints: 0
                1
                2
                3

In [ ]:
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

* Handle exceptions with a try/except block

In [56]:
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass                 # Pass is just a no-op. Usually you would do recovery here.
except (TypeError, NameError):
    pass                 # Multiple exceptions can be handled together, if required.
else:                    # Optional clause to the try/except block. Must follow all except blocks
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 #  Execute under all circumstances
    print("We can clean up resources here")

We can clean up resources here

## 4. Functions

* Use "def" to create new functions

In [1]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

* Calling functions with parameters

In [2]:
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

x is 5 and y is 6

11

* You can define functions that take a variable number of positional arguments

In [60]:
def varargs(*args):
    return args

varargs(1, 2, 3)  # => (1, 2, 3)

(1, 2, 3)

* You can define functions that take a variable number of keyword arguments, as well

In [61]:
def keyword_args(**kwargs):
    return kwargs

* Let's call it to see what happens

In [62]:
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

* Returning multiple values (with tuple assignments)

In [63]:
def swap(x, y):
    return y, x  # Return multiple values as a tuple without the parenthesis.
                 # (Note: parenthesis have been excluded but can be included)

x = 1
y = 2
x, y = swap(x, y)     # => x = 2, y = 1
(x, y) = swap(x,y)  # Again parenthesis have been excluded but can be included.

* Function Scope

In [3]:
x = 5

def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 43
    print (x)  # => 43

def set_global_x(num):
    global x
    print (x)  # => 5
    x = num    # global var x is now set to 6
    print (x)  # => 6

set_x(43)
set_global_x(6)

43
5
6

* Python has first class functions

In [65]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

13

## 5. Modules

* You can import modules

In [ ]:
import math
print(math.sqrt(16))  # => 4.0

* You can get specific functions from a module

In [ ]:
from math import ceil, floor
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

* You can import all functions from a module.
* Warning: this is not recommended

In [ ]:
from math import *

* You can shorten module names

In [ ]:
import math as m
math.sqrt(16) == m.sqrt(16)  # => True

* Python modules are just ordinary python files. 
* You can write your own, and import them. The name of the module is the same as the name of the file.
* You can find out which functions and attributes defines a module.

In [ ]:
import math
dir(math)

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended. 
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.